<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>930091197487-oaf1j5dj9hr5f9gqrqan5u9epf3lphi0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.930091197487-oaf1j5dj9hr5f9gqrqan5u9epf3lphi0</string>
	<key>API_KEY</key>
	<string>AIzaSyD_bIC2HLgU09doULRoysj_5q8Z-BNXEGw</string>
	<key>GCM_SENDER_ID</key>
	<string>930091197487</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wanpracha.wanmushroom</string>
	<key>PROJECT_ID</key>
	<string>smartmushroom-39ee5</string>
	<key>STORAGE_BUCKET</key>
	<string>smartmushroom-39ee5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:930091197487:ios:2f9bd7f68756d726c792da</string>
	<key>DATABASE_URL</key>
	<string>https://smartmushroom-39ee5.firebaseio.com</string>
</dict>
</plist>